<div class="login-container">
  <img src="assets/logo-unifor.png" alt="Logo" class="login-logo" />

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
      <app-default-input formControlName="username" inputName="username" type="text" label="Usuário:">
        <img src="assets/svg/user-icon.svg" />
      </app-default-input>
    </div>

    <div class="form-group">
      <app-default-input formControlName="password" inputName="password" type="password" label="Senha:">
        <img src="assets/svg/password.svg" />
      </app-default-input>
    </div>

    <button type="submit">Acessar</button>

    <p *ngIf="error" class="error">{{ error }}</p>
  </form>
</div>