<p>sidebar works!</p>
<nav class="sidebar" [class.open]="isOpen">
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
  
    <ul class="menu">
      <li style="margin-top: 30px;"><a routerLink="/dashboard">Dashboard</a></li>
      <li *ngIf="isAdmin || isCoordinator"><a routerLink="/course">Cursos</a></li>
      <li *ngIf="isAdmin || isCoordinator"><a routerLink="/subject">Disciplinas</a></li>
      <li *ngIf="isAdmin || isCoordinator"><a routerLink="/semester">Semestre</a></li>
      <li><a routerLink="/curriculum">Grade Curricular</a></li>
      <li *ngIf="isAdmin"><a routerLink="/users">Usuários</a></li>
    </ul>
  </nav>
  