<div class="user-dashboard">
  
    <form [formGroup]="subjectForm">
      <div class="search-filters">
        <app-default-input  class="search-input" formControlName="searchId" inputName="username" type="text" label="ID:" [showIcon]="false"></app-default-input>
    
        <button (click)="onSearch()">Buscar</button>
      </div>
    </form>
  
  
    <div class="custom-table-wrapper">
      <table class="custom-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Codigo</th>
            <th>Descrição</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button class="btn-update">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  