<div class="dashboard">
  <header class="dashboard-header">
    <h2 class="dashboard-title">Bem Vindo, {{userName}}</h2>
  </header>

  <div>
    <div class="card-grid">
      <a *ngIf="isAdmin || isCoordinator" routerLink="/course" class="card">Cursos</a>
      <a *ngIf="isAdmin || isCoordinator" routerLink="/subject" class="card">Disciplinas</a>
      <a *ngIf="isAdmin || isCoordinator" routerLink="/semester" class="card">Semestre</a>
      <a routerLink="/curriculum" class="card">Grade Curricular</a>
      <a *ngIf="isAdmin" routerLink="/user" class="card">Usuários</a>
    </div>
  </div>

</div>